<form id="message-form" action="post.php" method="post">
    {% include "partials/fields/_text-input.html.twig" with {
        name: 'firstname',
        label: 'Vardas',
        required: true,
        key: 'firstName'
    } %}

    {% include "partials/fields/_text-input.html.twig" with {
        name: 'lastname',
        label: 'Pavardė',
        required: true,
        key: 'lastName'
    } %}

    {% include "partials/fields/_text-input.html.twig" with {
        name: 'birthdate',
        label: 'Gimimo data',
        required: true,
        key: 'dateOfBirth'
    } %}

    {% include "partials/fields/_text-input.html.twig" with {
        name: 'email',
        label: 'El.pašto adresas',
        required: false,
        key: 'email'
    } %}

    {% include "partials/fields/_textarea-input.html.twig" with {
        name: 'message',
        label: 'Jūsų žinutė',
        required: true,
        key: 'content'
    } %}
    <p>
        <span>* - privalomi laukai</span>
        <input id="submit-message" type="submit" value="Skelbti" />
        <img 
            id="loader"
            src="img/ajax-loader.gif"
            style="display: none" 
        />
    </p>
</form>
