<ul id="message-list" data-per-page="{{ perPage }}">
    {% if messages is empty %}
        <li id="empty-message">
            <strong>Šiuo metu žinučių nėra. Būk pirmas!</strong>
        </li>
    {% else %}
        {% for message in messages %}
            {% include "partials/index/_message.html.twig" with {
                message: message.serialize()
            } %}
        {% endfor %}
    {% endif %}
</ul>
