<p id="pages" data-current="{{ current }}">
    {% if current > 1 %}
        {% include "partials/index/_page-link.html.twig" with {
            page: current - 1,
            title: 'atgal'
        } %}
    {% endif %}
    {% for page in 1..total %}
        {% if page == current %}
            {{ page }}
        {% else %}
            {% include "partials/index/_page-link.html.twig" with {title: page} %}
        {% endif %}
    {% endfor %}
    {% if current < total %}
        {% include "partials/index/_page-link.html.twig" with {
            page: current + 1, 
            title: 'toliau',
        } %}
    {% endif %}
</p>
