<form method="post">
    {% include "fields/text-input.html.twig" with {
        name: 'fullname',
        label: 'Vardas, pavardė',
        required: true,
        value: fields.name.value,
        valid: fields.name.valid
    } %}

    {% include "fields/text-input.html.twig" with {
        name: 'birthdate',
        label: 'Gimimo data',
        required: true,
        value: fields.birthday.value,
        valid: fields.birthday.valid
    } %}

    {% include "fields/text-input.html.twig" with {
        name: 'email',
        label: 'El.pašto adresas',
        required: false,
        value: fields.email.value,
        valid: fields.email.valid
    } %}

    {% include "fields/textarea-input.html.twig" with {
        name: 'message',
        label: 'Jūsų žinutė',
        required: true,
        value: fields.content.value,
        valid: fields.content.valid
    } %}
    <p>
        <span>* - privalomi laukai</span>
        <input type="submit" value="Skelbti" />
        <img src="img/ajax-loader.gif" alt="" />
    </p>
</form>
