<form method="post">
    {% include "fields/text-input.html.twig" with {
        name: 'fullname',
        label: 'Vardas, pavardė',
        required: true,
        key: 'name'
    } %}

    {% include "fields/text-input.html.twig" with {
        name: 'birthdate',
        label: 'Gimimo data',
        required: true,
        key: 'birthday'
    } %}

    {% include "fields/text-input.html.twig" with {
        name: 'email',
        label: 'El.pašto adresas',
        required: false,
        key: 'email'
    } %}

    {% include "fields/textarea-input.html.twig" with {
        name: 'message',
        label: 'Jūsų žinutė',
        required: true,
        key: 'content'
    } %}
    <p>
        <span>* - privalomi laukai</span>
        <input type="submit" value="Skelbti" />
        <img src="img/ajax-loader.gif" alt="" />
    </p>
</form>
