<ul>
    {% if messages is empty %}
        <li>
            <strong>Šiuo metu žinučių nėra. Būk pirmas!</strong>
        </li>
    {% else %}
        {% for message in messages %}
            {% include "message.html.twig" %}
        {% endfor %}
    {% endif %}
</ul>
