<p id="pages">
    {% if current > 1 %}
        <a href="#" title="atgal">atgal</a>
    {% endif %}
    {% for page in range(1, total) %}
        {% if page == current %}
            {{ page }}
        {% else %}
            <a href="#" title="{{ page }}">{{ page }}</a>
        {% endif %}
    {% endfor %}
    {% if current < total %}
        <a href="#" title="toliau">toliau</a>
    {% endif %}
</p>
