<p id="pages">
    {% if current > 1 %}
        {% include "page-link.html.twig" with {page: current - 1, title: 'atgal'} %}
    {% endif %}
    {% for page in 1..total %}
        {% if page == current %}
            {{ page }}
        {% else %}
            {% include "page-link.html.twig" with {title: page} %}
        {% endif %}
    {% endfor %}
    {% if current < total %}
        {% include "page-link.html.twig" with {page: current + 1, title: 'toliau'} %}
    {% endif %}
</p>
